* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.layout-container {
  display: grid;
  grid-template: 1fr 4.6fr /1fr 3.6fr;
  grid-template-areas:
    "sidebar header"
    "sidebar main"
    "sidebar main";
  height: 100vh;
  width: 100vw;
}

.header {
  display: grid;
  grid-template-rows: 1fr 2fr;
  grid-area: header;
  background-color: #ffffff;
}

.header-group {
  border: 2px solid hotpink;
}

.sidebar {
  display: grid;
  grid-template-rows: 1fr 5fr 5fr;
  gap: 20px;
  grid-area: sidebar;
  background-color: #1b92d5;
}

.navigation,
.info {
  display: grid;
  align-content: start;
  gap: 40px;
}

.nav-btn,
.info-btn {
  border: 2px solid darkblue;
  display: grid;
  justify-content: start;
  background-color: transparent;
  cursor: pointer;
  align-content: flex-start;
}

.sidebar-groups {
  border: 2px solid red;
}

.main {
  background-color: #e2e8f0;
}
